<h2 mat-dialog-title>Выбрать исполнителя</h2>
<mat-dialog-content class="mat-typography">
  <div class="crd-creation-dialog__content">
    <div class="engineer"
         *ngFor="let e of engineers"
         (click)="selectedEngineer = e"
         [ngClass]="{'_active': selectedEngineer?.id === e.id}"
    >
      {{e.name}} {{e.lastName}}
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" (click)="selectEngineer()" cdkFocusInitial>Назначить исполнителя</button>
</mat-dialog-actions>
