<div class="page-content">
  <ng-container *ngIf="equipmentModelsService && equipmentModelsService.equipmentModels">
    <mat-accordion>
      <mat-expansion-panel hideToggle
                           *ngFor="let et of equipmentModelsService.equipmentModels" (opened)="setSelectedItem(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{et.type.name}} {{et.manufacturer.name}} {{et.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedEquipmentModel">
          <form class="item-panel__form">
            <mat-form-field appearance="outline">
              <mat-label>Название</mat-label>
              <input matInput
                     required
                     name="name"
                     [(ngModel)]="selectedEquipmentModel.name">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Производитель</mat-label>
              <mat-select [(value)]="selectedEquipmentModel.manufacturer" required>
                <mat-option *ngFor="let m of manufacturers" [value]="m">{{m.name}} </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Тип</mat-label>
              <mat-select [(value)]="selectedEquipmentModel.type" required>
                <mat-option *ngFor="let t of typesService.equipmentTypes" [value]="t">{{t.name}} </mat-option>
              </mat-select>
            </mat-form-field>


            <div class="item-panel__toolbar">
              <button color="primary" mat-raised-button type="submit" (click)="onSave()">
                Сохранить
              </button>
              <button color="warn" mat-raised-button type="submit" (click)="onDelete()">
                Удалить
              </button>
              <button mat-button color="warn" (click)="onCancelEdit()">Отмена</button>
            </div>

          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <button class="_create-button" mat-fab color="warn" (click)="openCreationDialog()">
      +
    </button>

  </ng-container>

</div>
