._create-button {
  position: fixed;

  bottom: 50px;
  right: 415px;
}

.crd-equipment-types {

}

.crd-equipment-type {
  &__form {
    display: flex;
    flex-direction: column;
    &-toolbar {
      button {
        margin-right: 10px;
      }
    }
  }
}


