<div class="page-content">
  <ng-container *ngIf="equipmentTypesService && equipmentTypesService.equipmentTypes">
    <mat-accordion>
      <mat-expansion-panel hideToggle
                           *ngFor="let et of equipmentTypesService.equipmentTypes" (opened)="setSelectedManufacturer(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{et.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedEquipmentType">
          <form class="item-panel__form">
            <mat-form-field appearance="outline">
              <mat-label>Название</mat-label>
              <input matInput
                     required
                     name="name"
                     [(ngModel)]="selectedEquipmentType.name">
            </mat-form-field>
            <div class="item-panel__toolbar">
              <button color="primary" mat-raised-button type="submit" (click)="onSave()">
                Сохранить
              </button>
              <button color="warn" mat-raised-button type="submit" (click)="onDelete()">
                Удалить
              </button>
              <button mat-button color="warn" (click)="onCancelEdit()">Отмена</button>
            </div>

          </form>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <button class="_create-button" mat-fab color="warn" (click)="openCreationDialog()">
      +
    </button>

  </ng-container>
</div>



