<div class="auth">

  <crd-login *ngIf="mode === 'login'"></crd-login>
  <crd-registration *ngIf="mode === 'registration'"
                    (onSuccess)="mode = 'login'"
  ></crd-registration>

  <div class="auth__mode-toggle" (click)="toggleMode()">
    <button mat-raised-button>
      <ng-container *ngIf="mode === 'login'">Зарегистрироваться</ng-container>
      <ng-container *ngIf="mode === 'registration'">Войти</ng-container>
    </button>
  </div>
</div>
