<div class="crd-header">
  <div class="crd-header__inner">
    <div class="crd-header__routes">
      <ng-container *ngIf="auth.getUserParams().role === 'admin'">
        <a routerLink="users" [ngClass]="{'_active': router.url === '/users' || router.url === '/'}">Пользователи</a>
        <a routerLink="repairs" [ngClass]="{'_active': router.url === '/repairs'}">Ремонт</a>
        <a routerLink="equipments" [ngClass]="{'_active': router.url === '/equipments'}">Техника</a>
        <a routerLink="models" [ngClass]="{'_active': router.url === '/models'}">Модели</a>
        <a routerLink="manufacturers" [ngClass]="{'_active': router.url === '/manufacturers'}">Производители</a>
        <a routerLink="equipment-types" [ngClass]="{'_active': router.url === '/equipment-types'}">Виды техники</a>
      </ng-container>
      <ng-container *ngIf="auth.getUserParams().role === 'user'">
        <a routerLink="user-main-page" [ngClass]="{'_active': router.url === '/user-main-page'}">Главная</a>
        <a routerLink="user-rent" [ngClass]="{'_active': router.url === '/user-rent' || router.url === '/'}">Аренда</a>
        <a routerLink="user-repair" [ngClass]="{'_active': router.url === '/user-repair' || router.url === '/'}">Ремонт</a>
      </ng-container>

      <ng-container *ngIf="auth.getUserParams().role === 'engineer'">
        <a routerLink="engineer-new-tickets" [ngClass]="{'_active': router.url === '/engineer-new-tickets'}">Новые заявки</a>
        <a routerLink="engineer-in-work-tickets" [ngClass]="{'_active': router.url === '/engineer-in-work-tickets'}">Заявки в работе</a>
        <a routerLink="engineer-closed-tickets" [ngClass]="{'_active': router.url === '/engineer-closed-tickets'}">Завершенные зявки</a>
      </ng-container>

    </div>

    <div class="crd-header__user">
      <button mat-button (click)="auth.logout()">Выйти из системы</button>
    </div>
  </div>
</div>
