@import "~src/variables";

.crd-header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #3f51b5;
  position: fixed;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  display: flex;
  flex-direction: row;
  z-index: 999;



  &__inner {
    display: flex;
    justify-content: space-between;
    width: @content-width;
    align-items: center;
    margin: 0 auto;
  }

  &__routes {
    height: 100%;
    display: flex;
    flex-direction: row;
    a {
      color: white;
      text-decoration: none;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &._active {
        padding-bottom: 7px;
        border-bottom: 3px solid @accent-color;
      }
    }
  }

  &__user {
    margin-right: 10px;
  }
}
