<div class="page-content user-main-page">
  <ng-container *ngIf="repairs">

    <ng-template #empty>
      <div class="empty-block white">Нет новых заявок на ремонт</div>
    </ng-template>

    <mat-accordion *ngIf="repairs && repairs.length; else empty">
      <mat-expansion-panel hideToggle
                           *ngFor="let et of repairs" (opened)="setSelectedItem(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Заявка на ремонт
            {{et.equipment.model.type.name}} {{et.equipment.model.manufacturer.name}} {{et.equipment.model.name}}
            (#{{et.equipment.inventoryNumber}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedRepair">

          <div class="info-block">
            <div><b>Тип:</b> {{et.equipment.model.type.name}}</div>
            <div><b>Производитель:</b> {{et.equipment.model.manufacturer.name}}</div>
            <div><b>Модель:</b> {{et.equipment.model.name}}</div>
            <div><b>Заказчик:</b> {{et.user.name | titlecase}} {{et.user.lastName | titlecase}} </div>
            <div><b>Адрес:</b> {{et.user.address}}</div>
            <div><b>Телефон:</b> {{et.user.phone}}</div>
            <div><b>E-mail:</b> {{et.user.email}}</div>
            <div><b>Комментарий пользователя:</b> {{et.comment}}</div>


          </div>
          <div class="item-panel__toolbar">
            <button color="primary"  mat-raised-button (click)="openSelectEngeneerDialog()">
              Назначить исполнителя
            </button>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </ng-container>
</div>
