<h2 mat-dialog-title>Заявка на ремонт</h2>
<mat-dialog-content class="mat-typography">
  <div class="crd-creation-dialog__content">
    <mat-form-field appearance="outline">
      <mat-label>Комментарий к заявке</mat-label>
      <textarea matInput
                name="address"
                [(ngModel)]="comment">
              </textarea>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" (click)="sendRepairReport()" cdkFocusInitial>Отправить заявку</button>
</mat-dialog-actions>
