<div class="page-content user-main-page">

  <ng-template #empty>
    <div class="empty-block white">Ничего не найдено</div>
  </ng-template>

  <ng-container *ngIf="repairs">


    <mat-accordion *ngIf="repairs && repairs.length; else empty">
      <mat-expansion-panel hideToggle
                           *ngFor="let et of repairs" (opened)="setSelectedItem(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Заявка на ремонт
            {{et.equipment.model.type.name}} {{et.equipment.model.manufacturer.name}} {{et.equipment.model.name}}
            #{{et.equipment.inventoryNumber}}
            <ng-container *ngIf="et.status !== 'new'">({{et.status}})</ng-container>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedRepair">

          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Информация">
              <div class="info-block" style="margin-top: 20px">
                <div><b>Тип:</b> {{et.equipment.model.type.name}}</div>
                <div><b>Производитель:</b> {{et.equipment.model.manufacturer.name}}</div>
                <div><b>Модель:</b> {{et.equipment.model.name}}</div>
                <div><b>Адрес:</b> {{et.user.address}}</div>
                <div><b>Комментарий:</b> {{et.comment}}</div>
              </div>

              <div class="info-block" style="margin-top: 20px">
                <div *ngIf="selectedRepair.status !== 'new'"><b>Статус ремонта:</b> {{selectedRepair.status}}</div>
                <div *ngIf="selectedRepair.endDate "><b>Дата завершения ремонта:</b> {{selectedRepair.endDate | date}}</div>
                <div *ngIf="selectedRepair.type"><b>Тип ремонта:</b> {{selectedRepair.type}}</div>
                <div *ngIf="selectedRepair.price !== null"><b>Стоимость ремонта:</b> {{selectedRepair.price}} (рублей) </div>
                <div *ngIf="selectedRepair.serviceEngineer"><b>Исполнитель:</b> {{selectedRepair.serviceEngineer.name | titlecase}} {{selectedRepair.serviceEngineer.lastName | titlecase}}</div>
                <div *ngIf="selectedRepair.serviceEngineer"><b>Телефон исполнителя:</b> {{selectedRepair.serviceEngineer.phone}} </div>

              </div>
            </mat-tab>


          </mat-tab-group>

        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </ng-container>
</div>
