<div class="page-content">
  <ng-container *ngIf="manufacturers">
    <mat-accordion>
      <mat-expansion-panel hideToggle
                           *ngFor="let m of manufacturers" (opened)="setSelectedManufacturer(m)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{m.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{m.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedManufacturer">
          <form class="item-panel__form">
            <mat-form-field appearance="outline">
              <mat-label>Название</mat-label>
              <input matInput
                     required
                     name="name"
                     [(ngModel)]="selectedManufacturer.name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Описание</mat-label>
              <textarea matInput
                        name="address"
                        [(ngModel)]="selectedManufacturer.description">
              </textarea>
            </mat-form-field>

            <div class="item-panel__toolbar">
              <button color="primary" mat-raised-button type="submit" (click)="onSave()">
                Сохранить
              </button>
              <button color="warn" mat-raised-button type="submit" (click)="onDelete()">
                Удалить
              </button>
              <button mat-button color="warn" (click)="onCancelEdit()">Отмена</button>
            </div>

          </form>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <button class="_create-button" mat-fab color="warn" (click)="openCreationDialog()">
      +
    </button>

  </ng-container>
</div>



