<h2 mat-dialog-title>Добавление производителя</h2>
<mat-dialog-content class="mat-typography">
  <div class="crd-manufacturer-dialog__content">
    <mat-form-field appearance="outline">
      <mat-label>Название</mat-label>
      <input matInput
             required
             name="name"
             [(ngModel)]="manufacturer.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Описание</mat-label>
      <textarea matInput
                name="address"
                [(ngModel)]="manufacturer.description">
              </textarea>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" (click)="createManufacturer()" cdkFocusInitial>Добавить</button>
</mat-dialog-actions>
