<div class="page-content">
  <ng-container *ngIf="usersService && usersService.users">
    <mat-accordion>
      <mat-expansion-panel hideToggle
                           *ngFor="let user of usersService.users" (opened)="setSelectedItem(user)">
        <mat-expansion-panel-header>
          <mat-panel-title >
            {{user.name}} {{user.lastName}}
            <i style="color: #989898; margin-left: 10px">
              <ng-container *ngIf="user.role === 'user'">(Пользователь)</ng-container>
              <ng-container *ngIf="user.role === 'admin'">(Администратор)</ng-container>
              <ng-container *ngIf="user.role === 'engineer'">(Инженер по обслуживанию)</ng-container>
            </i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedUser">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Информация">
              <div class="user-info">
                <div class="user-info-item-row">
                  <div class="user-info-item">
                    <div class="user-info-item-title">Имя</div>
                    <div class="user-info-item-value">{{user.name}}</div>
                  </div>
                  <div class="user-info-item">
                    <div class="user-info-item-title">Фамилия</div>
                    <div class="user-info-item-value">{{user.lastName}}</div>
                  </div>
                </div>

                <div class="user-info-item-row">
                  <div class="user-info-item">
                    <div class="user-info-item-title">E-mail</div>
                    <div class="user-info-item-value">{{user.email}}</div>
                  </div>
                  <div class="user-info-item">
                    <div class="user-info-item-title">Телефон</div>
                    <div class="user-info-item-value">{{user.phone}}</div>
                  </div>
                </div>
                <div class="user-info-item-row">
                  <div class="user-info-item">
                    <div class="user-info-item-title">Дата рождения</div>
                    <div class="user-info-item-value">{{user.birthDate | date }}</div>
                  </div>
                </div>

                <div class="user-info-item-row">
                  <div class="user-info-item" style="width: 400px">
                    <div class="user-info-item-title">Адрес</div>
                    <div class="user-info-item-value" style="width: 400px">{{user.address}}</div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Аренда" *ngIf="user.role === 'user'">
<!--              {{selectedRents | json}}-->
            <ul *ngIf="selectedRents?.length; else empty" style="min-height: 100px">
              <li *ngFor="let rent of selectedRents" class="list-item">
                {{rent.equipment.model.type.name}} {{rent.equipment.model.manufacturer.name}} {{rent.equipment.model.name}}
                /
                {{rent.rentTime}}
                /{{rent.equipment.rentPrice}} рублей в месяц
              </li>
            </ul>



            </mat-tab>
            <mat-tab label="Ремонт" *ngIf="user.role === 'user'">

              <ul *ngIf="this.selectedRepairs?.length; else empty" style="min-height: 100px">
                <li *ngFor="let rent of selectedRepairs" class="list-item">
                  {{rent.equipment.model.type.name}} {{rent.equipment.model.manufacturer.name}} {{rent.equipment.model.name}}

                  <ng-container *ngIf="rent.price"> /Стоимость ремонта: {{rent.price}} рублей</ng-container>
                  /
                   Исполнитель: {{rent.serviceEngineer.name}} {{rent.serviceEngineer.lastName}}

                  <ng-container *ngIf="rent.status !== 'new'">
                    / Статус: {{rent.status}}
                  </ng-container>
                </li>
              </ul>
            </mat-tab>
            <mat-tab label="Роль">
              <label id="example-radio-group-label" class="user-radio-group-label">Текущая роль пользователя</label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="user-radio-group"
                [(ngModel)]="selectedUser.role">
                <mat-radio-button class="example-radio-button" [value]="'user'">Клиент</mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="'engineer'">Инженер по обслуживанию</mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="'admin'">Администратор</mat-radio-button>
              </mat-radio-group>

              <div class="item-panel__toolbar" style="margin-top: 20px">
                <button color="primary" mat-raised-button type="submit" (click)="updateRole()">
                  Сохранить изменения
                </button>
              </div>
            </mat-tab>
          </mat-tab-group>


        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </ng-container>

</div>

<ng-template #empty>
  <div class="empty-block">Ничего не найдено</div>
</ng-template>
