<div class="page-content">
  <ng-container *ngIf="equipmentsService && equipmentsService.equipments">
    <mat-accordion>
      <mat-expansion-panel hideToggle
                           *ngFor="let et of equipmentsService.equipments" (opened)="setSelectedItem(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{et.model.type.name}} {{et.model.manufacturer.name}} {{et.model.name}}
          </mat-panel-title>

          <mat-panel-description>
            #{{et.inventoryNumber}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedEquipment">

          <div class="equipment__model-description">
            <div><b>Тип:</b> {{selectedEquipment.model.type.name}}</div>
            <div><b>Производитель:</b> {{selectedEquipment.model.manufacturer.name}}</div>
          </div>

          <form class="item-panel__form">
            <mat-form-field appearance="outline">
              <mat-label>Инвентарный номер</mat-label>
              <input matInput
                     required
                     name="name"
                     [(ngModel)]="selectedEquipment.inventoryNumber">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Модель</mat-label>
              <mat-select [(value)]="selectedEquipment.model" required>
                <mat-option *ngFor="let t of modelsService.equipmentModels" [value]="t">{{t.name}} </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Город</mat-label>
              <input matInput
                     name="location"
                     [(ngModel)]="selectedEquipment.location">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Стоимость аренды (рублей в месяц)</mat-label>
              <input matInput
                     required
                     type="number"
                     name="rentPrice"
                     [(ngModel)]="selectedEquipment.rentPrice">
            </mat-form-field>

            <mat-slide-toggle class="item-panel__toggle" [(checked)]="selectedEquipment.availability" (change)="selectedEquipment.availability = !selectedEquipment.availability">Доступно для аренды</mat-slide-toggle>

            <div class="item-panel__toolbar">
              <button color="primary" mat-raised-button type="submit" (click)="onSave()">
                Сохранить
              </button>
              <button color="warn" mat-raised-button type="submit" (click)="onDelete()">
                Удалить
              </button>
              <button mat-button color="warn" (click)="onCancelEdit()">Отмена</button>
            </div>

          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <button class="_create-button" mat-fab color="warn" (click)="openCreationDialog()">
      +
    </button>

  </ng-container>

</div>
