<h2 mat-dialog-title>Добавление техники</h2>
<mat-dialog-content class="mat-typography">
  <div class="crd-creation-dialog__content">
    <mat-form-field appearance="outline">
      <mat-label>Инвентарный номер</mat-label>
      <input matInput
             required
             name="name"
             [(ngModel)]="selectedEquipment.inventoryNumber">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Модель</mat-label>
      <mat-select [(value)]="selectedEquipment.model" required>
        <mat-option *ngFor="let t of modelsService.equipmentModels" [value]="t">{{t.name}} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Город</mat-label>
      <input matInput
             name="location"
             [(ngModel)]="selectedEquipment.location">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Стоимость аренды (рублей в месяц)</mat-label>
      <input matInput
             required
             name="rentPrice"
             type="number"
             [(ngModel)]="selectedEquipment.rentPrice">
    </mat-form-field>

    <mat-slide-toggle class="item-panel__toggle" [(checked)]="selectedEquipment.availability" (change)="selectedEquipment.availability = !selectedEquipment.availability">Доступно для аренды</mat-slide-toggle>

  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" (click)="create()" cdkFocusInitial>Добавить</button>
</mat-dialog-actions>
