<h2 mat-dialog-title>Добавление модели</h2>
<mat-dialog-content class="mat-typography">
  <div class="crd-creation-dialog__content">
    <mat-form-field appearance="outline">
      <mat-label>Название</mat-label>
      <input matInput
             required
             name="name"
             [(ngModel)]="equipmentModel.name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Производитель</mat-label>
      <mat-select [(value)]="equipmentModel.manufacturer" required>
        <mat-option *ngFor="let m of manufacturers" [value]="m">{{m.name}} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Тип</mat-label>
      <mat-select [(value)]="equipmentModel.type" required>
        <mat-option *ngFor="let t of typesService.equipmentTypes" [value]="t">{{t.name}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" (click)="create()" cdkFocusInitial>Добавить</button>
</mat-dialog-actions>
