<h2 mat-dialog-title>Добавление вида техники</h2>
<mat-dialog-content class="mat-typography">
  <div class="crd-equipment-type-dialog__content">
    <mat-form-field appearance="outline">
      <mat-label>Название</mat-label>
      <input matInput
             required
             name="name"
             [(ngModel)]="equipmentType.name">
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" (click)="create()" cdkFocusInitial>Добавить</button>
</mat-dialog-actions>
