<div class="app">

  <ng-container *ngIf="auth.isUserLogined()">

    <crd-header></crd-header>

    <div class="app__content">
      <router-outlet></router-outlet>
    </div>

<!--      <button mat-button (click)="auth.logout()">logout</button>-->
  </ng-container>

  <ng-container *ngIf="!auth.isUserLogined()">
    <crd-auth></crd-auth>
  </ng-container>

</div>
