<div class="page-content user-main-page">
  <ng-container *ngIf="rents">
    <mat-toolbar>
      <h2>Техника в аренде</h2>
    </mat-toolbar>


    <mat-accordion *ngIf="rents && rents.length; else empty">
      <mat-expansion-panel hideToggle
                           *ngFor="let et of rents" (opened)="setSelectedItem(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{et.equipment.model.type.name}} {{et.equipment.model.manufacturer.name}} {{et.equipment.model.name}}
            (#{{et.equipment.inventoryNumber}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedRent">

          <div class="info-block">
            <div><b>Тип:</b> {{et.equipment.model.type.name}}</div>
            <div><b>Производитель:</b> {{et.equipment.model.manufacturer.name}}</div>
            <div><b>Модель:</b> {{et.equipment.model.name}}</div>
            <div><b>Стоимость аренды (в месяц):</b> {{et.equipment.rentPrice}}  рублей</div>
            <div><b>Срок аренды:</b> {{et.rentTime}}</div>
            <div><b>Дата начала аренды:</b> {{et.startRentDate | date}}</div>


          </div>
          <div class="item-panel__toolbar">
            <button color="primary" mat-raised-button (click)="getRepair()">
              Отдать в ремонт
            </button>
            <button color="warn" mat-raised-button (click)="declineRent()">
              Отказаться от аренды
            </button>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-toolbar style="margin-top: 20px">
      <h2>Техника в ремонте</h2>
    </mat-toolbar>


    <mat-accordion *ngIf="repairs && repairs.length; else empty">
      <mat-expansion-panel hideToggle
                           *ngFor="let et of repairs" (opened)="setSelectedRepair(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{et.equipment.model.type.name}} {{et.equipment.model.manufacturer.name}} {{et.equipment.model.name}}
            (#{{et.equipment.inventoryNumber}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedRepair">

          <div class="info-block">
            <div><b>Тип:</b> {{et.equipment.model.type.name}}</div>
            <div><b>Производитель:</b> {{et.equipment.model.manufacturer.name}}</div>
            <div><b>Модель:</b> {{et.equipment.model.name}}</div>
            <div><b>Стоимость аренды (в месяц):</b> {{et.equipment.rentPrice}}</div>
          </div>

          <div class="item-panel__toolbar">
            <button color="warn" mat-raised-button (click)="declineRepair()">
              Отозвать заявку
            </button>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>



  </ng-container>
</div>

<ng-template #empty>
  <div class="empty-block white">Ничего не найдено</div>
</ng-template>
