<div class="crd-login">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Вход</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form class="crd-registration__form"
            #registrationForm="ngForm"
            (ngSubmit)="!registrationForm.invalid && onSubmit()">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput
                 required
                 name="email"
                 [(ngModel)]="loginParams.email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput
                 required
                 name="password"
                 type="password" [(ngModel)]="loginParams.password">
        </mat-form-field>

        <button color="primary" mat-raised-button type="submit">
          Войти
        </button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
