.crd-registration {
  .mat-card {
    width: 400px;

    .mat-card-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mat-form-field {
      width: 100%;
    }
  }
}
