
<div class="crd-registration">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Регистрация</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form class="crd-registration__form"
            #registrationForm="ngForm"
            (ngSubmit)="!registrationForm.invalid && onSubmit()">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput
                 required
                 name="email"
                 [(ngModel)]="registrationParams.email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput
                 required
                 name="password"
                 type="password" [(ngModel)]="registrationParams.password">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Имя</mat-label>
          <input matInput
                 required
                 name="name"
                 [(ngModel)]="registrationParams.name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Фамилия</mat-label>
          <input matInput
                 required
                 name="lastName"
                 [(ngModel)]="registrationParams.lastName">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Телефон</mat-label>
          <input matInput
                 required
                 name="phone"
                 [(ngModel)]="registrationParams.phone">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Адрес</mat-label>
          <textarea matInput
                 name="address"
                 [(ngModel)]="registrationParams.address">
          </textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Дата Рождения</mat-label>
          <input matInput
                 name="birthDate"
                 [matDatepicker]="picker"
                 [(ngModel)]="registrationParams.birthDate">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <button color="primary" mat-raised-button type="submit">
          Зарегистрироваться
        </button>
      </form>
    </mat-card-content>

  </mat-card>
</div>

