<div class="page-content user-main-page">
  <ng-container *ngIf="repairs">

    <ng-template #empty>
      <div class="empty-block white">Нет новых заявок</div>
    </ng-template>

    <mat-accordion *ngIf="repairs && repairs.length; else empty">
      <mat-expansion-panel hideToggle
                           *ngFor="let et of repairs" (opened)="setSelectedItem(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Заявка на ремонт
            {{et.equipment.model.type.name}} {{et.equipment.model.manufacturer.name}} {{et.equipment.model.name}}
            (#{{et.equipment.inventoryNumber}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedRepair">

          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Информация">
              <div class="info-block" style="margin-top: 20px">
                <div><b>Тип:</b> {{et.equipment.model.type.name}}</div>
                <div><b>Производитель:</b> {{et.equipment.model.manufacturer.name}}</div>
                <div><b>Модель:</b> {{et.equipment.model.name}}</div>
                <div><b>Заказчик:</b> {{et.user.name | titlecase}} {{et.user.lastName | titlecase}} </div>
                <div><b>Адрес:</b> {{et.user.address}}</div>
                <div><b>Комментарий пользователя:</b> {{et.comment}}</div>
              </div>

              <div class="repair-form">
                <div class="repair-form-row">
                  <mat-form-field appearance="outline">
                    <mat-label>Статус ремонта</mat-label>
                    <mat-select [(value)]="selectedRepair.status" required>
                      <mat-option *ngFor="let m of repairStatuses" [value]="m">{{m}} </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Дата завершения ремонта</mat-label>
                    <input matInput
                           name="birthDate"
                           [matDatepicker]="picker"
                           [(ngModel)]="selectedRepair.endDate">

                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="repair-form-row">
                  <mat-form-field appearance="outline">
                    <mat-label>Тип ремонта</mat-label>
                    <mat-select [(value)]="selectedRepair.type" required>
                      <mat-option *ngFor="let m of repairTypes" [value]="m">{{m}} </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Стоимость ремонта (рублей)</mat-label>
                    <input matInput
                           name="rentPrice"
                           type="number"
                           [disabled]="!selectedRepair.type || selectedRepair.type ==='Гарантийный'"
                           [(ngModel)]="selectedRepair.price">
                  </mat-form-field>
                </div>

                <div class="repair-form-row">
                  <mat-form-field class="example-full-width _textarea" appearance="outline">
                    <mat-label>Используемые материалы</mat-label>
                    <textarea matInput
                              name="address"
                              [(ngModel)]="selectedRepair.materials">
                    </textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="item-panel__toolbar">
                <button color="primary" mat-raised-button (click)="save()">
                  Сохранить изменения
                </button>
              </div>
            </mat-tab>
            <mat-tab label="Контактные данные">
              <div class="user-info">
                <div class="user-info-item-row">
                  <div class="user-info-item">
                    <div class="user-info-item-title">Имя</div>
                    <div class="user-info-item-value">{{selectedRepair.user.name}}</div>
                  </div>
                  <div class="user-info-item">
                    <div class="user-info-item-title">Фамилия</div>
                    <div class="user-info-item-value">{{selectedRepair.user.lastName}}</div>
                  </div>
                </div>

                <div class="user-info-item-row">
                  <div class="user-info-item">
                    <div class="user-info-item-title">E-mail</div>
                    <div class="user-info-item-value">{{selectedRepair.user.email}}</div>
                  </div>
                  <div class="user-info-item">
                    <div class="user-info-item-title">Телефон</div>
                    <div class="user-info-item-value">{{selectedRepair.user.phone}}</div>
                  </div>
                </div>
                <div class="user-info-item-row">
                  <div class="user-info-item">
                    <div class="user-info-item-title">Дата рождения</div>
                    <div class="user-info-item-value">{{selectedRepair.user.birthDate | date }}</div>
                  </div>
                </div>

                <div class="user-info-item-row">
                  <div class="user-info-item">
                    <div class="user-info-item-title">Адрес</div>
                    <div class="user-info-item-value">{{selectedRepair.user.address}}</div>
                  </div>
                </div>
              </div>
            </mat-tab>


          </mat-tab-group>

        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </ng-container>
</div>
