/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";

html, body {
  height: 100%;
  background-color: @global-bg;
  background-image: url("src/assets/images/bg-img-1.jpg");
  background-repeat: repeat;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-panel-description.mat-expansion-panel-header-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.mat-content {
  flex: unset !important;

}

._create-button {
  position: fixed;

  bottom: 50px;
  right: 415px;
}

.item-panel {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__toolbar {
    button {
      margin-right: 10px;
    }
  }

  &__toggle {
    margin-bottom: 20px;
  }
}

.page-content {
  .mat-expansion-panel-header {
    .mat-content{
      flex: unset !important;
    }
  }

  position: relative;
}

.crd-creation-dialog {
  &__content {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}

.info-block {
  margin-bottom: 20px;
  margin-left: 5px;

  >div {
    margin-bottom: 5px;
    font-size: 12pt;
  }
}

.engineer {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    cursor: pointer;
  }

  &._active {
    background-color: #dedede;
  }
}

.user {
  &-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    &-item{
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;

      &-title {
        font-weight: bold;
      }

      &-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        * {
          margin-right: 20px;
          width: 150px;
        }
      }
    }
  }

  &-radio-group {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    &-label {
      margin-bottom: 20px;
      display: block;
      margin-top: 20px;
    }

    * {
      margin-bottom: 10px;
    }
  }
}

.repair-form {
  display: flex;
  flex-direction: column;

  &-row {
    display: flex;
    flex-direction: row;

    mat-form-field {
      margin-right: 20px;
      width: 300px;

      &._textarea {
        width: 620px;
      }
    }
  }
}

.list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.empty-block {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: white;
  height: 50px;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.mat-tab-body-content {
  overflow: hidden !important;
}
