<div class="page-content">

  <ng-template #empty>
    <div class="empty-block white">Ничего не найдено</div>
  </ng-template>

  <mat-toolbar>
    Доступно для аренды
  </mat-toolbar>
  <ng-container *ngIf="equipmentsService && equipmentsService.equipments">
    <mat-accordion *ngIf="equipments && equipments.length; else empty">
      <mat-expansion-panel hideToggle
                           *ngFor="let et of equipments" (opened)="setSelectedItem(et)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{et.model.type.name}} {{et.model.manufacturer.name}} {{et.model.name}}
          </mat-panel-title>

          <mat-panel-description>
            #{{et.inventoryNumber}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="item-panel" *ngIf="selectedEquipment">

          <div class="info-block">
            <div><b>Тип:</b> {{selectedEquipment.model.type.name}}</div>
            <div><b>Производитель:</b> {{selectedEquipment.model.manufacturer.name}}</div>
            <div><b>Модель:</b> {{selectedEquipment.model.name}}</div>
            <div><b>Стоимость аренды (в месяц):</b> {{selectedEquipment.rentPrice}} рублей</div>
            <mat-form-field appearance="outline" style="margin-bottom: -20px; margin-top: 20px">
              <mat-label>Срок аренды:</mat-label>
              <mat-select [(value)]="selectedRentTime">
                <mat-option *ngFor="let t of rentTimes" [value]="t">{{t}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="item-panel__toolbar">
            <button color="primary" mat-raised-button type="submit" (click)="getRent()">
              Взять в аренду
            </button>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </ng-container>

</div>
